<html>
<head>
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/index.css">
    <script src="https://cdn.jsdelivr.net/sparkjs/1.0.0/spark.min.js"></script>
    <script src="public/js/b64.js"></script>
    <script src="public/js/index.js"></script>
    <title>Robot Controls</title>
</head>
<body>
    <div class="wrapper">
        <div class="panel panel-default main-form">
            <div class="panel-heading">
                <h3>Robot Control Panel</h3>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="robotDropDown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select Robot
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="robotDropDown" id="robotDropDownList">
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="left-div col-md-3">
                    <h4>Movement</h4>
                    <div id="movement-div">
                        <button type="button" class="btn btn-success mid-btn" id="forward-btn">Forward</button>
                        <button type="button" class="btn btn-success mid-btn" id="backward-btn">Backward</button><br>
                        <button type="button" class="btn btn-success mid-btn" id="left-turn-btn">Left Turn</button>
                        <button type="button" class="btn btn-success mid-btn" id="right-turn-btn">Right Turn</button><br>
                        <button type="button" class="btn btn-success" id="location-btn">Go to location</button><br>
                        <button type="button" class="btn btn-success" id="rotation-btn">Rotate to angle</button><br>

                        <h4 id="controls-h">Controls</h4>
                        <button type="button" class="btn btn-info" id="send-speed-btn">Send Speed</button><br>
                        <button type="button" class="btn btn-info" id="cal-friction-btn">Send Friction</button><br>
                        <button type="button" class="btn btn-info" id="cal-turning-btn">Calibrate Turning</button><br>
                        <button type="button" class="btn btn-info" id="cal-wheels-btn">Calibrate Wheels</button><br>
                        <button type="button" class="btn btn-info" id="cal-reset-fail-btn">Reset Failed</button><br>
                        <button type="button" class="btn btn-danger" id="stop-btn">Stop</button><br>
                    </div>
                </div>
                <div class="right-div col-md-3">
                    <h4>Values</h4>
                    <div class="text-input-area">
                        <span>Distance:</span>
                        <input type="text" class="form-control" id="distance-input" placeholder="0">
                    </div>

                    <div class="text-input-area">
                        <span>Rotation:</span>
                        <input type="text" class="form-control" id="rotation-input" placeholder="0">
                    </div>

                    <div class="text-input-area">
                        <span>Units (dist):</span>
                        <select type="text" class="form-control" id="unit-input">
                            <option>none</option>
                            <option>mm</option>
                            <option>cm</option>
                            <option>m</option>
                        </select>
                    </div>

                    <div class="text-input-area">
                        <span>Location:</span>
                        <span class="small-span">x:</span>
                        <input type="text" class="form-control mid-input" id="target-x-input" placeholder="0">
                        <span class="small-span">y:</span>
                        <input type="text" class="form-control mid-input" id="target-y-input" placeholder="0">
                    </div>

                    <div class="text-input-area">
                        <span>Target angle:</span>
                        <input type="text" class="form-control" id="target-rotation-input" placeholder="0">
                    </div>

                    <h4>Joystick</h4>
                    <div id="joystick-div">
                        <button type="button" class="btn btn-primary" id="joy-fwd-btn">&#8593;</button><br>
                        <button type="button" class="btn btn-primary" id="joy-left-btn">&#8592;</button>
                        <button type="button" class="btn btn-primary" id="joy-right-btn">&#8594;</button><br>
                        <button type="button" class="btn btn-primary" id="joy-back-btn">&#8595;</button><br>
                    </div>
                </div>

                <div class="right-div col-md-3">
                    <h4>Calibration</h4>

                    <div class="text-input-area">
                        <span>Speed:</span>
                        <input type="text" class="form-control" id="speed-input">
                    </div>

                    <div class="text-input-area">
                        <span>Friction:</span>
                        <input type="text" class="form-control" id="friction-input">
                    </div>

                    <div class="text-input-area">
                        <span>Turning (ms):</span>
                        <input type="text" class="form-control" id="turning-cal-input">
                        <p><i>Note: The above calibrates the time that will be required to rotate a full circle at a speed of 170
                            given the current surface.</i></p>
                    </div>

                    <div class="text-input-area">
                        <span>Left Wheel: </span>
                        <input type="text" class="form-control" id="left-wheel-input">
                    </div>

                    <div class="text-input-area">
                        <span>Right Wheel: </span>
                        <input type="text" class="form-control" id="right-wheel-input">
                        <p><i>Note: The above options calibrate how much extra speed should be applied to a wheel to keep the robot
                            running straight.</i></p>
                    </div>

                    <div class="text-input-area">
                        <span>Left Dir: </span>
                        <select type="text" class="form-control" id="left-direction-input">
                            <option value="forward">forward</option>
                            <option value="backward">backward</option>
                        </select>
                    </div>

                    <div class="text-input-area">
                        <span>Right Dir: </span>
                        <select type="text" class="form-control" id="right-direction-input">
                            <option value="forward">forward</option>
                            <option value="backward">backward</option>
                        </select>
                        <p><i>Note: Calibrates which direction the motor turns (which is forward)</i></p>
                    </div>
                </div>

                <div class="right-div col-md-3">
                    <h4>Outputs</h4>
                    <div class="text-input-area">
                        <span>Dist (Front):</span>
                        <input type="text" class="form-control" id="dist-front-output">
                    </div>

                    <div class="text-input-area">
                        <span>Gyroscope:</span>
                        <span class="small-span">x:</span>
                        <input type="text" class="form-control small-input" id="gyro-x-output">
                        <span class="small-span">y:</span>
                        <input type="text" class="form-control small-input" id="gyro-y-output">
                        <span class="small-span">z:</span>
                        <input type="text" class="form-control small-input" id="gyro-z-output">
                    </div>

                    <div class="text-input-area">
                        <span>Acceleration:</span>
                        <span class="small-span">x:</span>
                        <input type="text" class="form-control small-input" id="accel-x-output">
                        <span class="small-span">y:</span>
                        <input type="text" class="form-control small-input" id="accel-y-output">
                        <span class="small-span">z:</span>
                        <input type="text" class="form-control small-input" id="accel-z-output">
                    </div>

                    <div class="text-input-area">
                        <span>Location:</span>
                        <span class="small-span">x:</span>
                        <input type="text" class="form-control mid-input" id="current-x-output">
                        <span class="small-span">y:</span>
                        <input type="text" class="form-control mid-input" id="current-y-output">
                    </div>

                    <div class="text-input-area">
                        <span>Angle:</span>
                        <input type="text" class="form-control" id="current-rotation-output">
                    </div>


                    <div class="text-output-area">
                        <label for="event-area">Events:</label>
                        <textarea class="form-control" rows="16" id="event-area"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>